@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quicksand {
    font-family: "Quicksand", serif;
}

header {
    margin: 0 auto;
    max-width: 1160px;
}

marquee {
    background-color: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.nav-logo-container img {
    width: 100%;
}

.logo-title {
    color: rgb(17, 17, 17);
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}

.nav-links>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    font-weight: 700;
}

.nav-links>ul li:nth-child(1) a {
    color: rgb(254, 163, 1);
}

.nav-links>ul li:nth-child(2) a {
    color: rgb(1, 172, 253);
}

.nav-links>ul li:nth-child(3) a {
    color: rgb(5, 212, 223);
}

.nav-links>ul li:nth-child(4) a {
    color: rgb(93, 88, 239);
}

.nav-links li>a {
    text-decoration-line: none;
}

.nav-btn {
    color: rgb(255, 255, 255);
    background-color: rgb(254, 163, 1);
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    width: 197px;
    border-radius: 12px;
    border: none;
}

.hamburger-menu {
    display: none;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-img-container img {
    width: 100%;
}

.banner-des-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.banner-title {
    font-size: 56px;
    font-weight: 700;
    text-align: left;
}

.banner-des {
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.banner-btn {
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
    border-radius: 12px;
    width: 197px;

}

.emp {
    color: rgb(254, 163, 1);
}

.vision {
    color: rgb(1, 172, 253);
}

main {
    margin: 0 auto;
}

.curriculum {
    background-image: url('./assets/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.stories {
    background: url('./assets/bg.png'), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
    width: 100vw;
}

.curriculum-container,
.stories-container {
    margin: 60px auto 0;
    max-width: 1160px;
}

.curriculum-header,
.stories-header {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 46px;
    font-weight: 700;
}

.curriculum-card-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
}

.curriculum-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid rgb(222, 245, 255);
    border-radius: 18px;
    box-shadow: inset 0px 0px 28px 1px rgba(0, 0, 0, 0.05);
    width: 365px;
    height: 475px;
}

.curriculum-card-title {
    color: rgb(32, 32, 32);
    font-size: 24px;
    font-weight: 700;
}

.curriculum-card-des {
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

.card-1 {
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-2 {
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-3 {
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

#read1 {
    color: rgb(100, 200, 255);
    font-size: 15px;
    font-weight: 700;
}

#read2 {
    color: rgb(240, 170, 0);
    font-size: 15px;
    font-weight: 700;
}

#read3 {
    color: rgb(135, 0, 255);
    font-size: 15px;
    font-weight: 700;
}

.slider-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

.slider-button-container span {
    width: 60px;
    height: 60px;
}

.slider-button-container i {
    font-size: 45px;
}

.stories-card-container {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.stories-grid-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.stories-lg-card-container img {
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    background-color: rgb(217, 217, 217);
}

.stories-lg-card-container {
    border-radius: 16px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.lg-story-btn {
    border-radius: 48px;
    padding: 10px;
    background: rgb(60, 216, 232);
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 15px;
    font-weight: 500;
    max-width: 175px;
    margin-left: 30px;
    position: relative;
    bottom: 35px;
}

.lg-story-title {
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    padding-left: 35px;
    text-align: left;
}

.lg-story-des {
    color: rgb(102, 102, 102);
    font-family: Raleway;
    font-size: 15px;
    font-weight: 500;
    padding-left: 35px;
    text-align: left;
}

.stories-card {
    border-radius: 16px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 30px;
}

.stories-card img {
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}

.stories-card-btn {
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 15px;
    font-weight: 500;
    border-radius: 48px;
    padding: 7px;
    background: rgb(149, 178, 38);
    position: relative;
    bottom: 30px;
    max-width: 175px;
}

.purple {
    background-color: rgb(93, 88, 240);
}

.stories-card-title {
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 700;
}

.view-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

.view-button-container button {
    border-radius: 12px;
    padding: 10px;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    width: 197px;
}

footer {
    background-color: rgb(1, 172, 253);
    width: 100vw;
    padding: 100px;
}

.footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1160px;
}

.about-us {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
}

.logo-footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.edu-title {
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 30px;
    font-weight: 700;
}

.edu-des {
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 400;
}


.abt-title {
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 22px;
    font-weight: 700;
}

.abt-school>ul {
    list-style: none;
    text-decoration: none;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.abt-school li>a {
    text-decoration-line: none;
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 300;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 0;
    padding: 0;
}

.touch {
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 26px;
    font-weight: 700;
}

.social-media-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.social-media-container img {
    width: 100%;
}



/* Mobile Responsive Layout */

@media only screen and (max-width: 576px) {
    .navbar {
        align-items: center;
        justify-content: space-between;
        padding: 0 5px 10px;
        border-bottom: 0.5px solid rgb(254, 163, 1);
    }

    .hamburger-menu {
        display: flex;
    }

    .banner-container {
        flex-direction: column-reverse;
        padding: 5px;
    }

    .logo-title,
    .nav-links,
    .nav-button-container,
    .banner-des-container br,
    .stories-lg-card-container,
    .footer-container>p br {
        display: none;
    }

    .banner-title,
    .banner-des {
        text-align: center;
    }

    .banner-title {
        font-size: 32px;
        line-height: 40px;
        font-weight: 700;
    }

    .banner-des {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
    }

    .banner-btn {
        margin: 0 auto;
        max-width: 150px;
        font-size: 16px;
    }

    .curriculum-header {
        font-size: 26px;
        font-weight: 700;
    }

    .curriculum-card-container {
        flex-direction: column;
        gap: 20px;
    }

    .curriculum-card {
        max-width: 365px;
        max-height: 475px;
    }

    .slider-button-container span {
        display: none;
    }

    .stories-card-container {
        grid-template-columns: 1fr;
    }

    .stories-grid-card-container {
        gap: 5px;
        padding: 0 10px;
    }

    .stories-card {
        text-align: center;
    }

    .stories-card-title {
        font-size: 12px;
        text-align: left;
    }

    footer {
        padding: 10px;
    }

    .footer-container {
        margin-top: 30px;
        flex-direction: column;
        gap: 15px;
        padding-left: 10px;
    }


}